@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

  footer{
    position: fixed;
    background-color: #101828;
    width: 85vw;
    height: 230px;
    border-radius: 12px;
    color: white;  
    margin-top: 700px;  
    top: 0;
  }
  footer h1{
    text-align: center;
    padding-top: 12px;
    margin: 0;
  }
  footer h4{
    text-align: center;
  }
  .footer-content{
    display: flex;
    justify-content: space-around;
  }
  [id="otz1"]{
    position: absolute;
    z-index: -1;
    top: 5px;
    right: 140px;
  }
  [id="otz2"]{
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -2;
  }
  [id="otz3"]{
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
  }
  [id="otz4"]{
    position: absolute;
    top: 0;
    right: 415px;
    z-index: -1;
  }
  [id="otz5"]{
    position: absolute;
    bottom: 32px;
    right: 0;
    z-index: -3;
  }
  [id="otz6"]{
    position: absolute;
    bottom: 32px;
    right: 120px;
    z-index: -3;
  }
  .nav-link-main{
    color: #306FF5;
    font-size: 22px;
    font-family: 'Inter Bold';
  }
  .nav-link{
    color:black;
    font-size: 24;
    font-family: 'Inter Medium';
    display: block;
  }
  .nav-links{
    margin: auto 0px;
    display: flex;
    justify-content: space-around;
    width: 400px;
  }
  .nav-info{
    color: #306FF5;
    letter-spacing: 1px;
  }
  .nav-number{
    color: #306FF5;
    letter-spacing: 2px;
    padding-right: 10px;
  }
  .numbers{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .mail{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  nav {
    box-shadow: 1px 3px 3px rgba(199, 199, 199);
    border-radius: 12px;
    margin: 20px 10% 0 0;
    height: 64px;
    width: 80%;
    position: fixed;
    background-color: white;
    padding-top: 8px;
    z-index: 10;
  }
  nav > ul {
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0px;
  }
  nav > ul > li {
    margin: auto 0px;
  }
  a {
    text-decoration: none;
  }
  label {
    display: block;
    margin: 0;
  }
  .row-input{
    display: inline-block;
    padding-right: 24px;
  }
  .row-input label{
    color:#667085;
    font-size: 13px;
    font-family: 'Inter Medium';
    line-height: 120%; 
    padding-bottom: 3px;
  }
  .row-input ::placeholder{
    color:black;
  }
  input[type="text"]{    
    font-size: 18px;
    font-family: 'Inter Medium';
    line-height: 160%;    
    width: 250px;
    margin-bottom: 1.75rem;
    border: none;
    border-bottom: 1px solid #D0D5DD;
    padding: 0.25rem 0;
  }
  input[type="text"][id="number"] {
    letter-spacing: 1px;
    background: url(../icons/trace.svg) no-repeat 0;
    background-size: 16px;
    padding-left: 30px;
  }
  input[type="submit"]{
    height: 58px;
    width: 132px;
    border-radius: 9px;
    border: 0;
    background-color: #306FF5;
    color: white;
    font-family: 'Inter Medium';
    font-size: 15px;
    padding-left: 24px;
    padding-right: 24px;
    white-space: normal;
    text-align: left;
  }
  #main-ref{
    display: flex;
    justify-content: flex-start;
    margin-right: 5%;
  }
  #last-ref{
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
  }
  .present-window{
    height: 900px;
    display: grid;
    grid-template-rows: 1fr 25% 25% 2fr;
  }
  .present-content{
    width: 738px;
    height: 195px;
    border-radius: 12px;
    padding: 24px;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(199, 199, 199);
  }
  .present-content h2{
    width: 80%;
    font-size: 24px;
    margin-top: 0;
    line-height: 120%;
    margin-bottom: 30px;
  }
  .present-text{
    width: 50%;
    padding-right: 10%;
    margin-bottom: 5%;
  }
  .present-section{
    grid-row: 2 / 4;
  }
  .present-text h1 {
    margin-bottom: 10px;
    line-height: 140%;
  }
  .present-text p {
    font-size: 17px;
    line-height: 140%;
  }
  p{
    font-family: 'Inter Medium';
  }
  h1{
    font-size:42px;
  }  
  body {
    margin: 0;
    padding-left: 7%;
    background-color: #F2F4F7;
  }
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  